{% extends 'base.html.twig' %}

{% block title %}Prezently2{% endblock %}

{% block body %}
{#<div class="content">#}
{#    <div class="">#}
{#        <div class="row title">#}
{#            <h1 class="offset-3 col-5">Moje wydarzenia!</h1>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% endblock %}
