{% extends 'base.html.twig' %}

{% block body %}
    <div class="content row">
        <div class="col-4" id="spiral1">
            <img class="img-fluid" src="{{ asset('build/images/Spiral1.c7ee73b8.svg') }}" alt="Spiral">
        </div>
        <div class="col-4 error_text">
            <h1>Strona nie istnieje</h1><br>
            <h5>Przepraszamy, za zaistaniałą sytuację.</h5><br><br>
            <a href="{{ path('index') }}" class="bright-btn">Wróć na stronę główną</a>
        </div>
        <div class="col-4 ">
            <img class="img-fluid" src="{{ asset('build/images/Spiral2.f7b4e014.svg') }}" alt="Spiral">
        </div>
    </div>
{% endblock %}